/* Estilizações Gerais */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #EFECE9;
    font-size: 16px;
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: #FFF;
}

.mv-none {
    display: none;
}

/* FONTES */

@font-face {
    font-family: 'freightDP book';
    src: url('../fonts/freight-display-pro-book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freightDP light';
    src: url('../fonts/freight-display-pro-light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/apercu-regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Light';
    src: url('../fonts/apercu-light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Bold';
    src: url('../fonts/apercu-bold.otf');
    font-weight: normal;
    font-style: normal;
}

/* BOTÕES */

.mv-btn-font {
    font-family: 'Apercu Bold';
    color: #2b2A25;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.mv-btn-white {
    display: block;
    margin-top: 70px;
    background-color: #FFF;
    width: 240px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mv-btn-transparent::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #939393;
    margin: 0 0 5px 10px;
}

.mv-btn-transparent:hover::after {
    background-color: #CCA887;
    width: 80px;
}

.mv-btn-form {
    font-family: 'Apercu Bold';
    cursor: pointer;
    border: none;
    border: 1px solid #2B2A25;
    width: 284px;
    height: 43px;
    color: #2B2A25;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.3s background-color;
}

.mv-btn-form:hover {
    color: #FFF;
    background-color: #2B2A25;
}

/* BACKGROUND HEADER E BANNER - Home Page */

.mv-bg-banner {
    background: url('../images/mv-bg-banner.png') no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* INICIO - HEADER GRANDE HOME TRANSPARENT */

.mv-home-header .mv-header {
    background-color: transparent;
    transition: 0.5s background-color;
    
}

.mv-home-header a, .mv-home-header input::placeholder {
    color: #FFF !important;
}

.mv-home-header input {
    border-color: #FFF;
}

/* INICIO - HEADER HOME REDUZIDO(SCROLL) */

.mv-home-header .mv-header-scroll a, .mv-home-header .mv-header-scroll input::placeholder {
    color: #2B2A25 !important;
}

.mv-home-header .mv-header-scroll {
    background-color: #EFECE9;
}

/* FIM - HEADER HOME REDUZIDO(SCROLL) */

/*INICIO - HEADER GRANDE */

.mv-header {
    font-family: 'Apercu Light';
    position: fixed;
    width: 100%;
    background-color: #EFECE9;
    transition: 0.3s;
    z-index: 2;
}

.mv-menu-mobile {
    display: none;
}

.mv-header-menu-search-mobile {
    display: none;
}

.mv-header-row-1 {
    padding: 35px 0 59px 0;
}

.mv-header-logo {
    display: flex;
    justify-content: center;
}

.mv-header-conta-carrinho {
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
    margin-top: -16px;
    margin-right: 31.63px;
}

.mv-header-row-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 28px;
    align-items: center;
    border-bottom: 1px solid rgba(147, 147, 147, 0.5);
    padding-bottom: 24px;
}

/* Search */

.mv-header-search {
    display: flex;
    column-gap: 13px;
}

.mv-input-search {
    background: transparent;
    border: none;
    border-bottom: 1px solid #939393;
    height: 30px;
    width: 246px;
}

.mv-input-search::placeholder {
    color: #939393;
    font-size: 0.875em;
}

/* MENU SEARCH MOBILE */

.mv-search-mobile-menu {
    display: none;
}

/* Nav */

.mv-header-nav ul {
    display: flex;
    justify-content: space-between;
}

.mv-header-nav ul li a {
    padding: 4px;
    font-size: 1.125em;
    color: #2b2a25;
}

.mv-bg-header-nav {
    width: 100%;
    margin-left: 32px;
    margin-right: 50px;
}

.mv-header-lqda {
    font-family: 'Apercu Bold';
    color: #2b2a25;
}

/* DISPLAY NONE PQ SÃO SÓ DO HEADER REDUZIDO */

.mv-logo-scroll, .mv-header-conta-carrinho-scroll {
    display: none;
}

/*FIM - HEADER GRANDE */

/* INICIO - HEADER REDUZIDO(SCROLL) - FALTA RESPONSIVO */

.mv-header-scroll {
    height: 97px;
    padding: 0;
    background-color: #EFECE9;
    padding: 0 27px;
    display: flex;
    margin-right: 30px;
    z-index: 10;
}

/* LINHA 1 - HEADER SCROLL */

.mv-header-scroll .mv-header-row-1 {
    display: none;
}

/* LINHA 2 - HEADER SCROLL */

.mv-header-scroll .mv-header-row-2 {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(147, 147, 147, 0.5);
    padding-bottom: 0px;
}

.mv-header-scroll .mv-logo-scroll, .mv-header-scroll .mv-header-conta-carrinho-scroll {
    display: block;
}

/* LOGO - HEADER SCROLL */

.mv-header-scroll .mv-header-row-2 .mv-header-logo-scroll img {
    display: initial;
    max-width: 100%;
}

/* SEARCH - HEADER-SCROLL */

.mv-header-scroll .mv-search {
    display: block;
    margin-left: 36px;
}

.mv-header-scroll .mv-input-search {
    color: #2B2A25;
    border-bottom: 1px solid #2B2A25;
    width: 188px;
}

.mv-header-scroll .mv-input-search::placeholder {
    color: #2B2A25;
}

/* NAV - HEADER SCROLL */

.mv-header-scroll a {
    color: #2B2A25;
}

/* CONTA E CARRINHO - HEADER SCROLL */

.mv-header-scroll .mv-header-conta-carrinho-scroll {
    display: flex;
    column-gap: 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 50px;
}

/* FIM - HEADER REDUZIDO(SCROLL) */

/* INICIO - BANNER */

.mv-banner {
    display: flex;
    align-items: center;
    padding-top: 151px;
    height: 100vh;
}

.mv-banner-text {
    margin-left: 185px;
    color: #FFF;
}

.mv-banner-text p {
    font-family: 'Apercu Light';
    font-size: 1.75em;
    line-height: 38px;
}

.mv-banner-text h1 {
    font-family: 'freightDP light';
    font-weight: lighter;
    font-size: 4em;
}

/* FIM - BANNER */

/* INICIO - DESCONTO */

.mv-desconto {
    font-family: 'Apercu';
    font-size: 0.875em;
    display: flex;
    justify-content: center;
    column-gap: 240px;
    padding: 28px 0 18px 0;
    border-bottom: 1px solid rgba(147, 147, 147, 0.5);
    text-decoration: underline;
    color: #2B2A25;
}

/* FIM - DESCONTO */

/* INICIO CATEGORIAS */

.mv-categorias {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 20%);
    margin: 70px auto;
}

.mv-categoria-tipo {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.mv-categoria-tipo h2 {
    font-family: 'Apercu Bold';
    max-width: 75px;
    color: #2B2A25;
    font-size: 0.875em;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 1px;
}

/* FIM CATEGORIAS */

/* INICIO MINIBANNERS */

.mv-minibanners {
    display: flex;
}

.mv-minibanner {
    width: 50%;
    background-color: #F4F2F0;
}

.mv-minibanner img {
    width: 100%;
}

.mv-minibanner-info {
    padding: 30px 0 55px 60px;
    font-family: 'Apercu';
    color: #2B2A25;
}

.mv-minibanner-info h2 {
    font-size: 1.4375em;
    font-weight: 400;
    line-height: 32px;
}

.mv-minibanner-info p {
    color: #939393;
    font-family: 'Apercu Light';
    letter-spacing: 0.1px;
    margin: 5px 0 25px 0;
    font-weight: 300;
}

/* FIM MINIBANNERS */

/* INICIO TENDENCIAS */

.mv-tendencias {
    margin: 88px auto 89px auto;
    text-align: center;
    width: calc(100vw - 15%);
}

.mv-tendencias-title {
    font-family: 'freightDP Light';
    font-weight: 300;
    font-size: 2.125em;
}

.mv-tendencias-subtitle {
    font-family: 'Apercu Light';
    font-weight: 300;
    line-height: 26px;
    color: #2B2A25;
    width: 599px;
    margin: 20px auto 61px auto;
}

.mv-tendencias-produtos {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 13px;
}

.mv-tendencia-hover {
    display: none;
}

.mv-tendencia-hover-show {
    display: block !important;
}

/* PRODUTO - COMPONENT */

.mv-produto-image {
    position: relative;
}

.mv-produto-image img {
    max-width: 100%;
    display: block;
}

.mv-produto-discount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Apercu Bold';
    font-size: 0.75em;
    line-height: 15px;
    height: 27px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #CCA887;
    color: #FFF;
}

.mv-produto-info {
    margin-top: 25px;
    font-family: 'Apercu';
    letter-spacing: 0.1px;
}

.mv-produto-nome {
    font-size: 1em;
    font-weight: 300;
    color: #333;
}

.mv-produto-precos {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin: 10px 0 20px 0;
}

.mv-produto-preco {
    color: #000;
    font-family: 'Apercu Bold';
}

.mv-produto-promo {
    color: #939393;
    font-family: 'Apercu Light';
    font-size: 0.875em;
}

/* FIM PRODUTO - COMPONENT */

/* FIM TENDENCIAS */

/* INICIO BESTSELLERS */

.mv-bestsellers-bg {
    background: url('../images/mv-bg-bestsellers.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.mv-bestsellers-wrapper {
    display: flex;
    align-items: center;
    margin-left: 185px;
    height: 100vh;
}

.mv-bestsellers-info {
    color: #FFF;
}

.mv-bestsellers-info h2 {
    font-family: 'freightDP Light';
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.mv-bestsellers-info p {
    font-family: 'Apercu Light';
    font-weight: 300;
    font-size: 1.75em;
    margin: 20px 0 74px 0;
}

/* FIM BESTSELLERS */

/* INICIO FOOTER - COMPONENT */
.mv-cookie {
    position: fixed;
    bottom: 0;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: visible;
    opacity: 1;
    transition: visibility .3s, opacity .3s, transform 3s linear;
}

.mv-cookie.mv-disabled-fade {
    transform: translate(-50%, 300px);
    visibility: hidden;
    opacity: 0;
}

.mv-cookie.mv-disabled { display: none; }

.mv-cookie p {
    font-family: 'Apercu Light';
    font-weight: 300;
    font-size: 1em;
    width: 70%;
}

.mv-cookie .mv-btn-agree {
    color: #000;
    font-family: 'Apercu Bold';
    font-weight: 700;
    letter-spacing: 0.15em;
    padding: 10px 30px;
    width: 30%;
    text-align: center;
    border: 1px solid #2B2A25;
    font-size: 0.875em;
    transition: all .3s;
}

.mv-cookie .mv-btn-agree:hover {
    background: #2B2A25;
    color: #FFFFFF;
}

/* FIM Cookie */

/****** INICIO Welcome /******/
.mv-modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    justify-content: center;
    align-items: center;
}

.mv-modal-container.mv-active { display: flex; }

.mv-modal {
    background: #EFECE9;
    width: 600px;
    display: flex;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mv-modal-container.mv-active .mv-modal {
    animation: modal .3s;
}

/* Left Modal */
.mv-modal .mv-left-modal {
    line-height: 0;
}

/* Right Modal */
.mv-modal .mv-right-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.mv-right-modal .mv-btn-close-modal {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: none;
    opacity: .7;
    cursor: pointer;
}

.mv-modal-container.mv-active .mv-modal-section-1{
    display: none;
}

.mv-modal-container.mv-active .mv-modal-section-2{
    display: none;
}

.mv-modal-container.mv-active .mv-modal-section-1.mv-show{ 
    animation: showModalSection 2s;
    display: flex;
}
.mv-modal-container.mv-active .mv-modal-section-2.mv-show { 
    animation: showModalSection 1s; 
    display: flex;
}

@keyframes showModalSection {
    1% { opacity: 0; transform: translate3d(-20px, 0, 0); }
    100% { opacity: 1; transform: translate3d(0, 0, 0); visibility: visible;}
}

.mv-right-modal .mv-btn-close-modal svg {
    pointer-events: none;
}

.mv-right-modal .mv-btn-close-modal:hover {
    opacity: 1;
}

.mv-right-modal section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    box-sizing: border-box;
}

.mv-right-modal .mv-svg-modal { display: none; }

.mv-right-modal .mv-title-modal {
    font-family: 'Apercu Light';
    font-size: 0.875em;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #CCA887;
}

.mv-right-modal .mv-subtitle-modal {
    font-family: 'Apercu Light';
    margin-top: 16px;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #2B2A25;
}

.mv-right-modal form {
    width: 100%;
}

.mv-right-modal .mv-form-input {
    margin-top: 30px;
    width: 100%;
}

.mv-right-modal .mv-form-input:nth-child(3) {
    margin-top: 10px;
}

.mv-right-modal .mv-form-input input{
    width: 100%;
}

.mv-right-modal .mv-text-cupom-modal {
    font-family: 'Apercu Bold';
    font-weight: 700;
    font-size: 1.1875em;
    margin-top: 20px;
    line-height: 26px;
    letter-spacing: 0.01em;
    padding: 8px 20px;
    border: 1px dashed #CCCCCC;
    color: #2B2A25;
    display: inline-block;
    width: auto;
}

.mv-right-modal .mv-warn-email-modal {
    font-family: 'Apercu Light';
    font-weight: 300;
    margin-top: 20px;
    display: inline-block;
    font-size: 0.75em;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #939393;
}

.mv-right-modal .mv-btn-modal {
    font-family: 'Apercu Bold';
    font-weight: 700;
    letter-spacing: 0.15em;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 0.875em;
    margin-top: 30px;
    color: #2B2A25;
}

/****** FIM Welcome ******/

/* INICIO FOOTER 1 - NEWSLETTER */

.mv-newsletter {
    width: calc(100vw - 5%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    align-items: center;
    column-gap: 70px;

}

.mv-newsletter p {
    font-family: 'Apercu Light';
    font-weight: 300;
    line-height: 26px;
}

.mv-newsletter-form {
    display: flex;
    column-gap: 30px;
}

.mv-form-input {
    position: relative;
    padding-top: 5px;
}

.mv-form-input input {
    font-family: 'Apercu';
    border: 0;
    border-bottom: 1px solid lightgrey;
    outline: none;
    width: 285px;
    height: 39px;
    background-color: transparent;
    font-size: 0.75em;
    transition: all .2s ease-out;
    color: #2B2A25;
}

.mv-form-input input:focus {
    border-bottom: 1px solid #2B2A25;
}

.mv-form-input label {
    font-family: 'Apercu';
    font-weight: 400;
    font-size: 0.75em;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    color: #939393;
    transition: all .2s ease-out;
}

.mv-form-input input:focus+label, .mv-form-input input:not(:placeholder-shown)+label {
    margin-top: -15px;
}

/* FIM FOOTER 1 - NEWSLETTER */

/* INICIO FOOTER 2 - INFOS */

.mv-footer-2 {
    background-color: #FFF;
    padding-top: 40px;
}

.mv-footer-infos {
    width: calc(100vw - 10%);
    margin: 0 auto;
    border-bottom: 1px solid #939393;
    padding: 0 70px 65px 70px;
    display: flex;
    justify-content: space-between;
}

.mv-footer-infos h2, .mv-footer-infos a {
    font-family: 'Apercu Light';
    font-weight: 300;
    font-size: 0.875em;
    color: #2B2A25;
}

.mv-footer-info-options {
    display: flex;
    column-gap: 149px;
}

.mv-footer-infos h2 {
    margin-bottom: 28px;
}

.mv-footer-info-left {
    display: flex;
    column-gap: 150px;
}

.mv-footer-info-grupos img {
    display: block;
}

.mv-footer-info-grupos img:first-child {
    margin-bottom: 33px;
}

.mv-footer-info-grupos img:nth-child(n+2) {
    margin-bottom: 16px;
}

.mv-footer-info-midias-options {
    display: flex;
    column-gap: 30px;
    margin-top: 54px;
}

.mv-footer-info-midias h2 {
    display: none;
}

.mv-footer-info-type a {
    display: flex;
    color: #939393;
    margin-bottom: 20px;
}

.mv-footer-info-ajuda-mobile img, .mv-footer-info-mv-mobile img {
    display: none;
}

.mv-footer-info-pagamento {
    margin-bottom: 49px;
}

.mv-footer-info-seguranca h2 {
    margin-bottom: 20px;
}

.mv-footer-info-seguranca-flex {
    display: flex;
    column-gap: 22px;
}

/* FIM FOOTER 2 - INFOS */

/* INICIO FOOTER 3 */

.mv-footer-3 {
    font-family: 'Apercu';
    font-weight: 400;
    font-size: 0.75em;
    color: #939393;
    line-height: 15px;
    background-color: #FFF;
    text-align: center;
    padding: 40px 0;
}

/* FIM FOOTER 3 */

/* FIM FOOTER - COMPONENT */

/* -------FIM HOME ------- */

/* ------- INICIO PESQUISA ------- */

/* INICIO - MENU PESQUISA */

.mv-search-menu {
    padding-top: 182px;
}

.mv-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 96px 1.5px 95px;
}

.mv-filter-btn, .mv-filter-ordenar-btn {
    display: flex;
    cursor: pointer;
}

.mv-filter-btn img, .mv-filter-ordenar-btn img {
    transition: 500ms;
}

.mv-filter-options {
    display: flex;
    column-gap: 51px;
    font-family: 'Apercu Light';
}

.mv-filter-options-wrapper-mobile {
    display: flex;
    column-gap: 51px;
    margin-top: 5px;
}

.mv-aplicar-limpar-filtros {
    display: none;
}

.mv-filter-title-mobile {
    display: none;
}

.mv-filter-option {
    display: flex;
    align-items: center;
    position: relative;
}

.mv-filter-option p {
    margin-right: 15px;
}

/* FILTROS ABERTOS */

.mv-filter-option-options {
    position: absolute;
    z-index: 5;
    background: #FFF;
    left: 0;
    top: 40px;
    padding: 24px 15px 0 15px;
    width: 190px;
    max-height: 0;
    visibility: hidden;
    transition: max-height 300ms;
}

.mv-filter-option-options-show {
    visibility: initial !important;
    max-height: 500px;
}

.mv-filter-btn-img-rotate {
    transform: rotate(-180deg);
}

.mv-filter-ordenar-options {
    left: 30px;
    width: 312px;
}

/* OPÇÕES FILTRO */

.input-check, .input-radio {
    margin-bottom: 25px;
}

.input-check input, .input-radio input {
    display: none;
}

.input-check label, .input-radio label {
    font-family: 'Apercu Light';
}

.input-radio input:checked+label {
    font-family: 'Apercu Bold';
}

.input-check label:before, .input-radio label:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #939393;
    margin-right: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
}

.input-check input:checked+label:before {
    background-image: url('../images/icons/mv-check.svg');
    background-size: contain;
}

.input-radio input:checked+label:before {
    background: #2B2A25;
}

/* FIM OPÇÕES FILTRO */

/* FIM FILTROS ABERTOS */

.mv-filter-ordenar:before {
    content: '';
    display: block;
    height: 28.5px;
    width: 1px;
    background-color: #939393;
    margin-right: 30px;
}

.mv-filter-quantity {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-family: 'Apercu';
    color: #939393;
    font-size: 0.875em;
}

.mv-filter-quantity img {
    cursor: pointer;
}

.mv-filter-mobile {
    display: none;
}

.mv-header-search-menu {
    background: #FAF8F5;
}

.mv-list-products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 13px;
}

.mv-two-columns-margin {
    margin: 0 185px;
}

/* NO MOBILE VIRA 2 COLUNAS */

.mv-list-products .mv-four-columns {
    width: 25%;
}

/* NO MOBILE VIRA 1 COLUNA */

.mv-list-products .mv-two-columns {
    width: 50%;
}

.mv-list-products .mv-produto-wrapper .mv-produto {
    margin: 0 auto;
    padding: 0 15px;
}

.mv-list-products .mv-produto-wrapper .mv-produto img {
    width: 100%;
}

/* FIM - MENU PESQUISA */

/* ------- FIM PESQUISA ------- */

/* ------- INICIO LISTAGEM ------- */

.mv-listing-page {
    padding-top: 177px;
}

.mv-categoria-name-title {
    font-family: 'freightDP light';
    font-weight: 300;
    font-size: 2.125em;
    margin: 50px 0 30px 0;
    text-align: center;
}

.mv-categoria-types {
    display: flex;
    justify-content: center;
}

.mv-categoria-types ul {
    display: flex;
    column-gap: 50px;
}

.mv-categoria-types ul li a {
    font-family: 'Apercu Light';
    font-weight: 300;
    color: #4d4d4d;
    text-decoration: underline;
}

.mv-categoria-types ul li a:hover, .mv-categoria-type-selecionada {
    font-family: 'Apercu Bold' !important;
    font-weight: bold !important;
}

.mv-listing .mv-filter {
    padding: 70px 30px 35px 25px;
}

.mv-carregar-mais-produtos {
    text-align: center;
    margin: 60px 0 110px 0;
}

.mv-categoria-info {
    width: 65%;
    margin: 0 auto;
    color: #2b2A25;
}

.mv-categoria-info span {
    font-weight: 'Apercu Bold';
    font-weight: 700;
    text-decoration: underline;
}

.mv-categoria-info-name {
    font-family: 'Apercu';
    font-weight: 300;
    font-size: 1.4375em;
}

.mv-categoria-info-text, .mv-categoria-info-sub-text {
    font-family: 'Apercu Light';
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.1px;
    margin: 30px 0 20px 0;
}

.mv-categoria-info-sub-name {
    font-family: 'Apercu';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
}

.mv-categoria-info-sub-text {
    margin: 20px 0 25px 0 !important;
}

/* ------- FIM LISTAGEM ------- */

/* ------- INICIO DETALHES DO PRODUTO ------- */

.mv-products-details {
    padding-top: 222px;
}

.mv-products-details {
    margin: 0 16px;
    display: flex;
    column-gap: 30px;
}

/* INICIO mv-left-product-det */
.mv-products-details .mv-left-product-det {
    width: 66.666667%;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 26px;
}

.mv-products-details .mv-swiper-photos {
    display: none;
}

.mv-left-product-det .mv-row-img-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mv-left-product-det .mv-row-img-1 img {
    width: calc(50% - 15px);
    height: auto;
}

/* FIM mv-left-product-det */

.swiper-container {
    width: 100%;
    height: 100%;
}

.mv-products-details .mv-right-product-det {
    /* -ms-flex: 33.333333%; */
    width: 33.333333%;
    padding-top: 50px;
}

.mv-right-product-det p.mv-discount-product {
    display: inline-block;
    font-size: 0.75em;
    font-family: 'Apercu';
    color: #FFFFFF;
    background: #CCA887;
    padding: 8px 12px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.mv-right-product-det h2.mv-tittle-product {
    font-size: 1em;
    line-height: 26px;
    font-family: 'Apercu Light';
    font-weight: 300;
    margin-top: 22px;
    letter-spacing: 0.01em;
    color: #2B2A25;
}

.mv-right-product-det .mv-unavailable-product  {
    margin-top: 12px;
}

.mv-right-product-det .mv-unavailable-product p{
    font-family: 'Apercu Light';
    font-weight: 300;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    text-align: center;
    padding: 32px 0;
}

.mv-right-product-det .mv-price-product {
    margin-top: 16px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.mv-right-product-det .mv-price-product .mv-price {
    font-family: 'Apercu Bold';
    font-size: 1.1875em;
    line-height: 23px;
    color: #2B2A25;
}

.mv-right-product-det .mv-price-product .mv-price-installments {
    font-family: 'Apercu Light';
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.16px;
    color: #2B2A25;
}

.mv-right-product-det .mv-color-product, .mv-right-product-det .mv-size-product {
    margin-top: 24px;
}

.mv-right-product-det .mv-color-product .mv-title-color-product, .mv-right-product-det .mv-size-product .mv-title-size-product {
    font-family: 'Apercu Light';
    font-size: 0.6875em;
    line-height: 15px;
    letter-spacing: 1.92px;
    color: #2B2A25;
}

.mv-color-product .mv-radio-color {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 14px;
}

.mv-color-product .mv-radio-color input, .mv-size-product .mv-radio-size input {
    display: none;
}

.mv-color-product .mv-radio-color label {
    line-height: 0;
    padding: 2px;
    border: 1px solid #EFECE9;
    cursor: pointer;
}

.mv-color-product .mv-radio-color label img, .mv-color-product .mv-radio-size label img {
    pointer-events: none;
}

.mv-color-product .mv-radio-color label:hover, .mv-color-product .mv-radio-color input:checked+label, .mv-size-product .mv-radio-size label:hover, .mv-size-product .mv-radio-size input:checked+label {
    border: 1px solid #2B2A25;
}

.mv-color-product .mv-radio-color .mv-title-color {
    font-family: 'Apercu Light';
    font-size: 0.875em;
    line-height: 19px;
    letter-spacing: 0.16px;
    color: #939393;
}

/* size */

.mv-size-product .mv-radio-size {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 14px;
}

.mv-size-product .mv-radio-size label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu Light';
    cursor: pointer;
    font-size: 1.125em;
    line-height: 26px;
    width: 36px;
    height: 36px;
    color: #2B2A25;
}

.mv-size-product .mv-radio-size label.mv-radio-size-disabled {
    color: #939393;
}

.mv-size-product .mv-radio-size label.mv-radio-size-disabled:hover {
    border: none;
}

.mv-size-product .mv-size-help {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
}

.mv-size-product .mv-size-help a {
    font-family: 'Apercu';
    font-weight: 400;
    font-size: 0.875em;
    line-height: 19px;
    letter-spacing: 0.16px;
    text-decoration: underline;
    color: #939393;
}

.mv-size-product .mv-size-help a:hover {
    color: #2B2A25;
}

/* FIM size */

/* btn sacola */

.mv-right-product-det .mv-btn-add-sacola {
    border: none;
    margin-top: 32px;
    background: #2B2A25;
    padding: 14px 32px;
    color: #FFFFFF;
    font-family: 'Apercu Bold';
    font-size: 0.875em;
    letter-spacing: 2.4px;
    cursor: pointer;
    outline: 0;
}

.mv-right-product-det .mv-btn-add-sacola:hover {
    background: #000000;
}

.mv-right-product-det .mv-btn-add-sacola:active {
    background: #36342F;
}

/* FIM btn sacola */

.mv-drop-product-info {
    margin-top: 36px;
}

.mv-drop-product-info .mv-accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
    font-family: 'Apercu Bold';
    border: none;
    outline: none;
    text-align: left;
    padding: 25px 0px;
    border-top: 1px solid #BBBBBB;
    font-size: 0.875em;
    color: #2B2A25;
    cursor: pointer;
}

.mv-drop-product-info .mv-accordion svg { transition: all .3s; }

.mv-drop-product-info .mv-accordion.is-open svg{ transform: rotate(-180deg); }

.mv-drop-product-info .mv-accordion:nth-child(1) {  border-top: 0px; }

.mv-accordion-content {
    max-height: 0;
    overflow: hidden;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.01em;
    font-family: 'Apercu Light';
    color: #333333;
    transition: all 0.2s ease-in-out;
}

/* Frete */
.mv-frete-product {
    margin-top: 40px;
}

.mv-cep-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;
}

.mv-form-input-frete {
    position: relative;
    padding-top: 5px;
    width: 100%;
}

.mv-form-input-frete p {
    display: none;
    color: #2B2A25;
    font-size: 1em;
    font-family: 'Apercu Light';
    font-weight: 300;
}

.mv-form-input-frete input {
    font-family: 'Apercu';
    border: 0;
    border-bottom: 1px solid lightgrey;
    outline: none;
    height: 39px;
    background-color: transparent;
    width: 100%;
    font-size: 0.75em;
    transition: all .2s ease-out;
    color: #2B2A25;
}

.mv-form-input-frete input:focus {
    border-bottom: 1px solid #2B2A25;
}

.mv-form-input-frete label {
    font-family: 'Apercu';
    font-weight: 400;
    font-size: 0.75em;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    color: #939393;
    transition: all .2s ease-out;
}

.mv-form-input-frete input:focus+label, .mv-form-input-frete input:not(:placeholder-shown)+label {
    margin-top: -15px;
}

/* Avise-me */
.mv-warn-product {
    margin-top: 30px;
}

.mv-warn-product h3 {
    font-family: 'Apercu Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2B2A25;
    margin-bottom: 30px;
}

.mv-warn-product .mv-form-input { 
    margin-bottom: 30px;
}

.mv-warn-product input {
    width: 100%;
}

.mv-right-product-det .mv-btn-warn{
    border: none;
    background: #2B2A25;
    padding: 14px 76px;
    color: #FFFFFF;
    font-family: 'Apercu Bold';
    font-size: 0.875em;
    letter-spacing: 2.4px;
    cursor: pointer;
    outline: 0;
}
.mv-right-product-det .mv-btn-warn:hover { background: #000000; }
.mv-right-product-det .mv-btn-warn:active { background: #36342F; }

/* Completar look */
.mv-swiper-down-details {
    margin-top: 90px;
    padding: 0 16px;
}

.mv-swiper-down-details  h2{
    margin-bottom: 51px;
    font-family: 'Apercu Light';
    font-weight: 300;
    font-size: 1.75em;
    text-align: center;
}

/* ------- FIM DETALHES DO PRODUTO ------- */

/* ----BREAKPOINTS ---- */

@media only screen and (max-width: 1420px) {
    /* Ajustes menu reduzido */
    .mv-header-scroll .mv-bg-header-nav {
        margin-left: 25px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1205px) {
    /* BOTÕES */
    .mv-btn-form {
        width: 300px;
        margin-top: 30px;
    }

    .mv-frete-product .mv-btn-form {
        margin-top: 0px;
    }
    /*INICIO - HEADER GRANDE MOBILE */

    .mv-header-menu-search-mobile {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    .mv-header-menu-search-mobile a img, .mv-header-conta-carrinho a img {
        min-width: 20px;
        min-height: 20px;
    }
    .mv-header-row-1 {
        padding: 18px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 24px;
    }
    .mv-header-logo {
        margin: 0 24px;
    }
    .mv-header-logo img {
        max-width: 100%;
    }
    .mv-header-conta-carrinho {
        column-gap: 25px;
        margin-top: -0px;
        margin-right: 0px;
    }
    /* Linha 2 do header (search/nav/lqda) */
    .mv-header-row-2 {
        display: none;
    }
    /*FIM - HEADER GRANDE MOBILE */
    /* INICIO - HEADER REDUZIDO(SCROLL) - MOBILE */
    .mv-header-scroll {
        background-color: #EFECE9;
        max-height: 45px;
        padding: 12px 24px 13px 24px;
        display: flex;
        margin: 0;
        z-index: 2;
        transition: 0.3s;
    }
    /* LINHA 1 - HEADER SCROLL MOBILE */
    .mv-header-scroll .mv-header-row-1 .mv-search {
        width: 20px;
        height: 20px;
        margin: 0;
    }
    .mv-header-scroll .mv-header-row-1 {
        display: flex;
    }
    .mv-header-scroll .mv-header-row-1 {
        display: flex;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    /* LINHA 2 - HEADER SCROLL MOBILE */
    .mv-header-scroll .mv-header-row-2 {
        display: none;
    }
    /* FIM - HEADER REDUZIDO(SCROLL) MOBILE */
    /* INICIO MENU BURGUER */
    .mv-home-header .mv-menu-burguer, .mv-home-header .mv-menu-burguer:after, .mv-home-header .mv-menu-burguer:before {
        background-color: #EFECE9;
    }
    .mv-menu-burguer {
        width: 30px;
        height: 1.2px;
        background-color: #2b2a25;
        position: relative;
        margin-top: -2px;
        transition: all .3s ease-in-out;
    }
    .mv-menu-burguer:after, .mv-menu-burguer:before {
        content: '';
        width: 30px;
        height: 1.2px;
        top: -8px;
        background-color: #2b2a25;
        position: absolute;
        transition: all .3s ease-in-out;
    }
    .mv-menu-burguer:before {
        top: 8px !important;
    }
    .mv-menu-burguer-header-reduzido, .mv-menu-burguer-header-reduzido:after, .mv-menu-burguer-header-reduzido:before {
        background-color: #2b2A25 !important;
    }
    .mv-btnOpenMenu.mv-btnActive .mv-menu-burguer {
        transform: translateX(-55px);
        background: transparent;
    }
    .mv-btnOpenMenu.mv-btnActive .mv-menu-burguer:before {
        transform: rotate(40deg) translate(35px, -40px);
    }
    .mv-btnOpenMenu.mv-btnActive .mv-menu-burguer:after {
        transform: rotate(-40deg) translate(35px, 40px);
    }
    /* FIM MENU BURGUER */
    /* INICIO MENU MOBILE */
    .mv-menu-mobile {
        display: block;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: #EFECE9;
        padding: 32px 25px;
        transform: translateX(-150%);
        opacity: 0;
        transition: 600ms;
        border-top: 1px solid #939393;
    }
    .mv-menu-mobile-header-reduzido {
        left: 0 !important;
        top: 45px;
    }
    .mv-menu-mobile-show {
        transform: translateX(0%);
        opacity: 1;
        
    }
    .mv-menu-nav-mobile a {
        color: #2b2A25 !important;
        display: block;
        margin-bottom: 24px;
    }
    /* FIM MENU MOBILE */
    /* INICIO SEARCH MOBILE MENU */
    .mv-search-mobile-menu {
        background: #EFECE9;
        border-top: 1px solid #939393;
        border-bottom: 1px solid #939393;
        padding: 10px 20px;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transform: translateX(-150%);
        transition: transform 600ms;
    }
    .mv-search-mobile-menu-show{
        transform: translateX(0%);
        opacity: 1;
    }

    .mv-search-mobile-menu-reduzido{
        top: 45px !important;
    }
    .mv-search-mobile-menu a {
        margin-top: 2px;
    }
    .mv-search-mobile-menu input {
        border: #EFECE9;
        width: 80vw;
    }
    .mv-search-mobile-menu input:focus {
        outline: none;
    }
    .mv-search-mobile-menu input::placeholder {
        color: #2b2A25 !important;
    }
    /* FIM SEARCH MOBILE MENU */
    /* INICIO BANNER */
    .mv-banner {
        height: calc(100vh - 47px);
    }
    /* FIM BANNER */
    /* INICIO CATEGORIAS */
    .mv-categorias {
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 10%);
        margin: 70px auto;
    }
    .mv-categoria-tipo {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    /* FIM CATEGORIAS */
    /* INICIO FOOTER - COMPONENT */
    /* INICIO FOOTER 1 - NEWSLETTER */
    .mv-newsletter {
        flex-direction: column;
        padding: 37px 0 45px 0;
    }
    .mv-newsletter p {
        line-height: 21px;
        margin-bottom: 29px;
        max-width: 327px;
    }
    .mv-newsletter p br {
        display: none;
    }
    .mv-newsletter-form {
        display: block;
        margin: 0 auto;
    }
    .mv-form-input input {
        width: 300px;
    }
    .mv-form-input input:focus+label, .mv-form-input input:not(:placeholder-shown)+label {
        margin-top: -5px;
    }
    /* FIM FOOTER 1 - NEWSLETTER */
    /* INICIO FOOTER 2 - INFOS */
    .mv-footer-2 {
        padding-top: 30px;
    }
    /* INFOS (AJUDA/MARIAVALENTINA */
    .mv-footer-infos {
        width: (100vw - 25px);
        padding: 0 0px 30px 0px;
        flex-direction: column;
    }
    .mv-footer-infos h2, .mv-footer-infos a {
        font-size: 1em;
    }
    .mv-footer-infos h2 {
        margin-bottom: 21px;
    }
    .mv-footer-info-left {
        flex-direction: column-reverse;
    }
    .mv-footer-info-options {
        flex-direction: column;
    }
    .mv-footer-info-ajuda {
        border-bottom: 2px solid #EFECE9;
        margin-bottom: 30px;
    }
    .mv-footer-info-ajuda-mobile, .mv-footer-info-mv-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mv-footer-info-ajuda-mobile img, .mv-footer-info-mv-mobile img {
        display: block;
        margin-top: -25px;
    }
    .mv-footer-info-ajuda-mobile-links, .mv-footer-info-mv-mobile-links {
        max-height: 0;
        opacity: 0;
        transition: 600ms;
        visibility: hidden;
    }
    .mv-footer-active {
        max-height: 500px !important;
        opacity: 1;
        visibility: initial;
    }
    /* GRUPOS */
    .mv-footer-info-grupos {
        display: none;
    }
    /* MIDIAS */
    .mv-footer-info-midias {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
    }
    .mv-footer-info-midias-options {
        margin-top: 0px;
    }
    .mv-footer-info-midias h2 {
        display: block;
        margin-bottom: 12px;
    }
    /* PAGAMENTOS */
    .mv-footer-info-pagamento {
        margin: 30px 0;
        text-align: center;
    }
    .mv-footer-info-pagamento h2 {
        margin-bottom: 12px;
    }
    .mv-footer-info-pagamento img {
        margin: 0 auto;
    }
    /* SEGURANÇA */
    .mv-footer-info-seguranca h2 {
        margin-bottom: 12px;
        text-align: center;
    }
    .mv-footer-info-seguranca-flex {
        align-items: flex-start;
        justify-content: center;
    }
    /* FIM FOOTER 2 - INFOS */
    /* FIM FOOTER - COMPONENT */
    /* INICIO FILTRO - LISTAGEM E PESQUISA */
    /* FILTRO */
    /* BOTÕES DO FILTRO MOBILE */
    .mv-filter {
        flex-direction: column-reverse;
        padding: 20px 24px 0 24px;
    }
    .mv-filter-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mv-filter-options-mobile {
        display: flex;
        margin: 20px 0 25px 0;
        align-items: center;
        font-family: 'Apercu Light';
        font-weight: 300;
    }
    .mv-filter-option-mobile {
        display: flex;
    }
    .mv-filter-option-mobile p {
        margin-right: 10px;
        font-size: 0.875em;
    }
    .mv-filter-filtrar-mobile:after {
        content: '';
        display: block;
        height: 16px;
        width: 1px;
        background-color: #939393;
        margin-left: 20px;
    }
    .input-check label:before, .input-radio label:before {
        box-shadow: inset 0px 0px 0px 2px #EFECE9;
    }
    .mv-filter-ordenar-mobile {
        margin-left: 30px;
    }
    .mv-filter-mobile {
        display: initial;
        display: flex;
    }
    .mv-filter-options {
        display: block;
        position: absolute;
    }
    /* FIM DOS BOTÕES DO FILTRO MOBILE */
    /* FILTRAR E ORDENAR MOBILE */
    .mv-filter-options-container-mobile, .mv-filter-ordenar-container-mobile {
        position: fixed;
        background: #EFECE9;
        z-index: 1;
        top: 43px;
        left: -0px;
        width: 100vw;
        height: 100vh;
        padding: 24px;
        transform: translateX(-100%);
        transition: transform 600ms;
        opacity: 0;
    }
    .mv-filter-ordenar-container-mobile {
        transform: translateX(100%) !important;
    }
    .mv-filter-container-mobile-show {
        opacity: 1;
        transform: translateX(0%) !important;
    }
    .mv-filter-options-wrapper-mobile {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 70vh;
        padding-bottom: 30px;
    }
    .mv-filter-options-wrapper-mobile::-webkit-scrollbar {
        display: none;
    }
    .mv-filter-title-mobile {
        display: block;
        font-family: 'Apercu Bold';
        border-bottom: 1px solid #939393;
        padding-bottom: 10px;
    }
    .mv-filter-option {
        display: block;
        border-bottom: 1px solid #939393;
        padding-top: 16px;
    }
    .mv-filter-option-options {
        position: static !important;
        background: #EFECE9;
        padding-top: 15px;
        padding-left: 0;
    }
    .mv-filter-option-options-show {
        max-height: 500px !important;
    }
    .mv-filter-ordenar-options {
        position: static;
        min-height: 60vh;
        visibility: initial;
    }
    .mv-filter-ordenar-btn {
        display: none;
    }
    .mv-filter-ordenar:before {
        display: none;
    }
    /* BOTÕES DE APLICAR E LIMPAR FILTROS */
    .mv-aplicar-limpar-filtros {
        display: block;
    }
    .mv-aplicar-limpar-filtros a {
        display: block;
        text-align: center;
        font-family: 'Apercu';
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .mv-btn-aplicar-filtros, .mv-btn-aplicar-ordenar {
        width: 100%;
        padding: 20px 0;
        font-size: 0.875em;
        background: #2B2A25;
    }
    .mv-btn-limpar-filtros {
        font-size: 0.75em;
        color: #939393;
        text-decoration: underline;
        margin-top: 20px;
    }
    /* FIM BOTÕES DE APLICAR E LIMPAR FILTROS */
    /* FIM FILTRO - LISTAGEM E PESQUISA */
    /* ------- INICIO PÁGINA PESQUISA ------- */
    .mv-search-menu {
        padding-top: 20px;
    }
    /* PRODUTOS */
    .mv-list-products {
        margin: 0 16px;
    }
    /* NO MOBILE VIRA 2 COLUNAS */
    .mv-list-products .mv-four-columns {
        width: 50%;
    }
    /* NO MOBILE VIRA 1 COLUNA */
    .mv-list-products .mv-two-columns {
        width: 100%;
    }
    .mv-list-products .mv-produto-wrapper .mv-produto {
        padding: 0 8px;
    }
    .mv-list-products .mv-produto-wrapper .mv-produto img {
        width: 100%;
    }
    /* PRODUTO - COMPONENT */
    .mv-produto-wrapper .mv-produto {
        width: 100%;
    }
    /* FIM PRODUTO - COMPONENT */
    /* ------- FIM PESQUISA ------- */
    /* INICIO PÁGINA LISTAGEM */
    .mv-listing-page {
        padding-top: 50px;
    }
    .mv-categoria-name-title {
        font-size: 2.125em;
        margin: 30px 0 20px 0;
    }
    .mv-listing-page .mv-filter-quantity {
        display: none;
    }
    .mv-listing-page .mv-filter-options-mobile {
        margin: 10px 0 25px 0;
    }
    .mv-listing-page .mv-filter-columns {
        margin-top: -10px;
    }
    /* FIM PÁGINA LISTAGEM */

    .mv-details-page .mv-products-details{
        padding-top: 85px;
    }
}

/* TELAS PEQUENAS */

@media only screen and (max-width: 869px) {
    /*BOTÕES MOBILE */
    .mv-btn-font {
        font-size: 0.75em;
    }
    .mv-btn-white {
        width: 187px;
        margin: 18px auto 0 auto;
    }
    /* INICIO BANNER MOBILE */
    .mv-banner {
        align-items: flex-end;
        justify-content: center;
        height: calc(100vh - 47px);
        padding-bottom: 63px;
    }
    .mv-banner-text {
        margin-left: 0;
    }
    .mv-banner-text-info {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .mv-banner-text p {
        font-size: 1.125em;
        line-height: 26px;
    }
    .mv-banner-text h1 {
        font-size: 3em;
        line-height: 56px;
        width: 234px;
        margin-bottom: 9px;
    }
    /* FIM BANNER MOBILE */
    /* INICIO - DESCONTO */
    .mv-desconto p:last-child {
        display: none;
    }
    /* FIM - DESCONTO */
    /* INICIO CATEGORIA */
    /* INICIO CATEGORIAS */
    .mv-categorias {
        column-gap: 16px;
        justify-content: flex-start;
        width: 100%;
        margin: 30px 0 40px 0;
        padding: 0 25px;
        overflow-x: scroll;
    }
    .mv-categorias::-webkit-scrollbar {
        display: none;
    }
    /* FIM CATEGORIAS */
    /* FIm CATEGORIA */
    /* FALTA ARRUMAR RESPONSIVIDADE MINIBANNERS */
    /* INICIO MINIBANNERS */
    .mv-minibanners-bg-mobile {
        background: rgba(255, 255, 255, 0.3);
        margin-top: 80px;
    }
    .mv-minibanners {
        display: block;
        padding: 0 12px;
        position: relative;
        top: -40px;
    }
    .mv-minibanner {
        width: 100%;
        background-color: transparent;
    }
    .mv-minibanner img {
        width: 100%;
        height: 100%;
    }
    .mv-minibanner-info {
        padding: 10px 0 50px 24px;
    }
    .mv-minibanner-info p {
        margin: 5px 0 20px 0;
    }
    /* FIM MINIBANNERS */
    /* INICIO TENDENCIAS */
    .mv-tendencias {
        margin: 40px auto 50px auto;
        text-align: center;
        width: 100%;
    }
    .mv-tendencias-subtitle {
        font-size: 0.875em;
        line-height: 19px;
        width: auto;
        margin: 20px auto 33px auto;
    }
    .mv-tendencias-produtos {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 10px;
        margin-bottom: 30px;
        justify-content: center;
    }
    /* PRODUTO - COMPONENT */
    .mv-produto {
        width: 45%;
    }
    .mv-produto-image img {
        width: 100%;
    }
    .mv-produto-discount {
        font-size: 0.625em;
        line-height: 14px;
        height: 18px;
        width: 100%;
    }
    .mv-produto-info {
        margin-top: 10px;
    }
    .mv-produto-nome {
        font-size: 0.875em;
        ;
    }
    .mv-produto-precos {
        display: block;
        margin: 12px 0 0px 0;
    }
    /* FIM PRODUTO - COMPONENT */
    /* FIM TENDENCIAS */
    /* INICIO BESTSELLERS */
    .mv-bestsellers-wrapper {
        margin-left: 0px;
        justify-content: center;
        text-align: center;
    }
    .mv-bestsellers-info h2 {
        line-height: 52px;
    }
    .mv-bestsellers-info p {
        font-size: 1.125em;
        margin: 20px 0 25px 0;
    }
    /* FIM BESTSELLERS */
    /* PRODUTO - COMPONENT */
    .mv-listing-page .mv-produto-discount {
        right: 0;
        height: 60px;
        width: 60px;
        font-size: 1em;
        padding-left: 13px;
        line-height: 24px;
    }
    /* FIM PRODUTO - COMPONENT */
    /* INICIO PÁGINA LISTAGEM */
    .mv-categoria-types {
        min-width: 100%;
        overflow-x: scroll;
        justify-content: flex-start;
        padding: 0 25px;
    }
    .mv-categoria-types::-webkit-scrollbar {
        display: none;
    }
    .mv-categoria-types ul {
        column-gap: 10px;
    }
    .mv-categoria-types ul li {
        display: block;
        width: 135px;
    }
    .mv-categoria-types ul li:last-child {
        margin-right: 25px;
    }
    .mv-categoria-type-selecionada {
        text-decoration: none !important;
    }
    .mv-listing .mv-filter {
        padding: 20px 30px 0px 25px;
    }
    .mv-list-products .mv-produto-wrapper {
        margin-bottom: 40px;
    }
    .mv-carregar-mais-produtos {
        margin: 60px 0 50px 0;
    }
    .mv-categoria-info {
        width: 100%;
        padding: 0 25px;
        border-bottom: 1px solid #939393;
        padding-bottom: 25px;
    }
    .mv-categoria-info span {
        font-weight: 300;
        text-decoration: none;
    }
    .mv-categoria-info-name {
        font-weight: 700;
        font-size: 1em;
    }
    .mv-categoria-info-text, .mv-categoria-info-sub-text {
        line-height: 21px;
        margin: 20px 0 20px 0;
    }
    .mv-categoria-info-sub-name {
        text-transform: initial;
    }
    .mv-categoria-info-sub-text {
        margin: 15px 0 20px 0 !important;
    }
    /* FIM PÁGINA LISTAGEM */

    /* INICIO PÁGINA DETALHES DO PRODUTO */
    .mv-products-details .mv-swiper-photos {
        display: flex;
    }

    .mv-products-details .mv-row-img-1{
        display: none;
    }

    .mv-style-swiper-header {
        position: relative;
        width: 100%;
    }

    .mv-style-swiper-header .mv-pagination-swiper-photos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }

    .mv-style-swiper-header .mv-pagination-swiper-photos .swiper-pagination-bullet{
        background: #CCA887;
        width: calc(100% / 4 - 8px);
        height: 2px;
        border-radius: 0;
    }

    .mv-swiper-button-prev-swiper-header, 
    .mv-swiper-button-next-swiper-header {
        transform: scale(.7);
        color: #939393;
    }

    .mv-products-details {
        flex-direction: column;
    }

    .mv-products-details .mv-right-product-det {
        padding-top: 20px;
    }

    .mv-products-details .mv-left-product-det, 
    .mv-products-details .mv-right-product-det{
        width: 100%;
    }

    /* FIM PÁGINA DETALHES DO PRODUTO */

    /* COOKIE PRODUTOS */
    .mv-cookie {
        width: 98%;
        display: flex;
    }

    .mv-cookie p { width: 60%; }
    
    .mv-cookie .mv-btn-agree { width: 40%; }
    /* FIM COOKIE PRODUTOS  */

    /* Left Modal */
    /****** INICIO Welcome /******/

    .mv-modal { width: 300px; }

    .mv-modal .mv-left-modal { display: none; }

    /* Right Modal */
    .mv-modal .mv-right-modal {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mv-right-modal section {
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .mv-right-modal .mv-svg-modal { display: flex;  }

    .mv-right-modal .mv-title-modal {
        font-size: 0.75em;
        margin-top: 20px;
    }

    .mv-right-modal .mv-subtitle-modal {
        margin-top: 10px;
    }

    .mv-right-modal .mv-form-input {
        margin-top: 20px;
    }

    /****** FIM Welcome ******/

}

@media only screen and (max-width: 536px) {
    /* PRODUTO - COMPONENT */
    .mv-listing-page .mv-produto-discount {
        height: 45px;
        width: 45px;
        font-size: 0.75em;
        padding-left: 10px;
        line-height: 18px;
    }
    /* FIM PRODUTO - COMPONENT */

    /* Completar look */
    .mv-swiper-down-details {
        margin-top: 40px;
        padding: 0 16px;
    }

    .mv-swiper-down-details  h2{
        margin-bottom: 25px;
        font-family: 'Apercu Light';
        font-weight: 300;
        font-size: 1.125em;
        text-align: center;
    }

    /* INICIO PÁGINA DETALHES DO PRODUTO */
    .mv-form-input-frete p {
        display: block;
    }

    .mv-right-product-det .mv-btn-add-sacola {
        width: 100%;
    }

    .mv-cep-form {
        flex-direction: column;
        row-gap: 16px;
    }

    .mv-frete-product .mv-btn-form, 
    .mv-right-product-det .mv-btn-warn, 
    .mv-form-input input {
        width: 100%;
    }
    /* FIM PÁGINA DETALHES DO PRODUTO */

    /* COOKIE PRODUTOS */
    .mv-cookie {
        width: 100%;
        flex-direction: column;
    }

    .mv-cookie p { 
        width: 100%; 
        text-align: center;
        margin-bottom: 8px;
    }
    
    .mv-cookie .mv-btn-agree { 
        width: 100%; 
        border: none;
        display: block;
        background: none;
    }

    .mv-cookie .mv-btn-agree:hover {
        background: none;
        color: black;
    } 

    .mv-cookie .mv-btn-agree:after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 2px;
        background-color: #939393;
        margin: 0 0 5px 10px;
    }

    .mv-cookie .mv-btn-agree:hover:after {
        background-color: #CCA887;
        width: 80px;
    }
    
    /* FIM COOKIE PRODUTOS  */

    .mv-modal { width: 280px; }
}